<launch>
    <node pkg="mushr_unity_sim" type="run_sim.sh" name="simrun_script"/> <!-- this script launches the simulator -->
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mushr_unity_sim)/rviz/mushr_unity_sim.rviz" /> <!-- this launches rviz -->
    <!-- this sets the car names -->
    <arg name="car1_name" default="car1" />
    <arg name="car2_name" default="car2" />
    <arg name="car3_name" default="car3" />
    <arg name="car4_name" default="car4" />

    <!-- Set to 1 if you want to run the map_server -->
    <arg name="map_server" value = "1"/>

    <!-- config file to be used (contains friction coefficient)  -->
    <arg name="mushr_unity_sim_config" default="$(find mushr_unity_sim)/config/mushr_unity_sim.yaml" />
    <rosparam file="$(arg mushr_unity_sim_config)" command="load" />

    <!-- Launch  map server-->
    <group if="$(arg map_server)">
        <include file="$(find mushr_base)/launch/includes/map_server.launch"/>
    </group>

    <!-- Launch first car -->
    <group ns="$(arg car1_name)">
        <include file="$(find mushr_unity_sim)/launch/unity_single.launch">
            <arg name="car_name" value="$(arg car1_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="" />
        </include>
    </group>

    <!-- Launch second car -->
    <group ns="$(arg car2_name)">
        <include file="$(find mushr_unity_sim)/launch/unity_single.launch" >
            <arg name="car_name" value="$(arg car2_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-green-black" />
        </include>
    </group>

    <group ns="$(arg car3_name)">
        <include file="$(find mushr_unity_sim)/launch/unity_single.launch" >
            <arg name="car_name" value="$(arg car3_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-red-white" />
        </include>
    </group>

    <group ns="$(arg car4_name)">
        <include file="$(find mushr_unity_sim)/launch/unity_single.launch" >
            <arg name="car_name" value="$(arg car4_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-purple-gold" />
        </include>
    </group>
    <node pkg="mushr_unity_sim" type="pose_init" name="initializer"/>
    
</launch>
