<launch>
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find package_name)/rviz/multi_teleop.rviz" /> -->
    <arg name="car1_name" default="car1" />
    <!-- <node pkg="unity_backend" type="donkey_sim.x86_64" name="" args="-batchmode headless"/> -->
    <node pkg="tf" type="static_transform_publisher" name="map" args="0 0 0 0 0 0 1 map odom 1"/>
    <!-- Launch first car -->
    <node pkg="unity_backend" name="connect" type="run_sim_ros.py"/>
    

</launch>
